#home,.notice,.authorAndTime,.func,.artDetailInfo{
    display: flex;
}
#home{
    flex-direction: row;
}
.rightDiv{
    width: 30%;
}
.leftDiv{
    width: 70%;
}
.notice{
    justify-content: center;
    width: 50%;
}
.authorAndTime{
    justify-content: space-around;
}
.content,.func{
    width: 50em;
}
.notice,.content,.func{
    margin: 0 auto;
}
.title{
    text-align: left;
    text-indent: 1em;
    font-size: 26px
}
.homeContent{
    text-align: left;
    text-indent: 2em;
    height: 110px;
}
.func{
    display: flex;
    height: 20px;
}
.comment,.like,.author,.time,.homeContent,.title{
    font-family: "仿宋";
    color: #4cb4e7;
}
.comment,.like{
    width: 100%;
}
.author,.time{
    font-size: 18px;
}
#artDetail,.mesg{
    width: 85%;
    background-color: white;
    margin: 0 auto;
}
.artDetailAuthor,.artDetailTime,.artDetailTitle,.artDetailContent{
    color: #FFB5A1;
    font-family: "仿宋";
}
.artDetailAuthor,.artDetailTime{
    font-style: italic;
}
.artDetailTitle{
    font-size: 38px;
}
.artDetailContent{
    text-indent: 2em;
    text-align: left;
    font-size: 22px;
}
.artDetailInfo{
    justify-content: space-around;
    width: 100%;
}
.msgTitle,.msgBoardInput{
    width: 80%;
    margin: 0 auto;
}
.msgTitle{
    font-family: "仿宋";
    text-align: left;
}
#photo{
    height: 58rem;
    background-image: url("../../assets/view.jpg");
}